<%= render 'pages/home' unless user_signed_in? %>

<% if user_signed_in? %>
<%= link_to 'NEW RIDER', new_rider_path, class: "btn btn-primary" %>

<div id="riders">
    <% @riders.each do |rider| %>
    <div class="box panel panel-default">
        
        <div class="panel-body">
            <div>LINE
      
                    <%= rider.bus %></br>
                    <span><%= rider.story %></span>
             
            </div>
          
            </br>
            <%= rider.user.name if rider.user %>
            </br>
            <!--<%= rider.busline %>-->
            <%= link_to 'SHOW', rider, class: "btn btn-primary" %>   

            <% if rider.user == current_user %>
            <%= link_to 'EDIT', edit_rider_path(rider), class: "btn btn-primary" %>   
            <%= link_to 'DESTROY', rider, class: "btn btn-primary", method: :delete, data: { confirm: 'Are you sure?' } %>

            <% end %>
        </div>




    </div>
    <% end %>


        <div class="center">
        <%= will_paginate @posts, :page_links => false, renderer: BootstrapPagination::Rails %>
        </div>

</div>

 <% end %>

