<%= render 'pages/home' unless user_signed_in? %>

<% if user_signed_in? %>
<%= link_to 'New Rider', new_rider_path %>

<div id="riders">
    <% @riders.each do |rider| %>
    <div class="box panel panel-default">
        
        <div class="panel-body">
            <div>LINE
      
                    <%= rider.bus %></br>
                    <span><%= rider.story %></span>
             
            </div>
          
            </br>
            <%= rider.user.name if rider.user %>
            </br>
            <%= rider.busline %>
            <%= link_to 'Show', rider %>   

            <% if rider.user == current_user %>
            <%= link_to 'Edit', edit_rider_path(rider) %>   
            <%= link_to 'Destroy', rider, method: :delete, data: { confirm: 'Are you sure?' } %>

            <% end %>
        </div>




    </div>
    <% end %>


        <div class="center">
        <%= will_paginate @posts, renderer: BootstrapPagination::Rails %>
        </div>

</div>

 <% end %>

