<!--<p id="notice"><%= notice %></p>-->


<div id="riders">
	<div class="box panel panel-default">

		<%= link_to new_rider_path do%>
  <%= image_tag "http://rudes.de/labus/sidebus.png", class: "center" %>
  <% end %>

		
		 <div class="panel-body">
			<div>LINE
      
                    <%= @rider.bus %></br>
                    <span><%= @rider.story %></span>
             
            </div>
          
            </br>
            <%= @rider.user.name if @rider.user %>
            </br>

			<!--<p>
			  <strong>Busline:</strong>
			  <%= @rider.busline %>
			</p>-->


		<% if @rider.user == current_user %>
			<%= link_to 'EDIT', edit_rider_path(@rider), class: "btn btn-primary" %>

			<script>
				document.getElementById('sharer').onclick = function () {
  				var url = 'https://www.facebook.com/sharer/sharer.php?u=';
  				url += encodeURIComponent(location.href);
  				window.open(url, 'fbshare', 'width=640,height=320');
  				//alert("hello");
				};
			</script>




			<div class="btn btn-primary" id="sharer">SHARE</div>
		<% end %>

		<%= link_to 'BACK', riders_path, class: "btn btn-primary" %>
	</div>
	</div>
</div>





